@CHARSET "UTF-8";

.report_listview {
	display: none;
}

.report_left {
	top: 50px;
	bottom: 0;
	width: 220px;
	position: absolute;
	padding: 0 0;
	background: #cfd8dc;
	z-index: 10;
}

#report_left_bottom {
	position: fixed;
	bottom: 0;
	width: 220px;
	height: 40px;
	margin-bottom: 0;
	background:#c3cdd2;
}
#report_left_bottom>div {
	width: 40px;
	height: 40px;
	float: left;
	text-align: center;
}
#report_leftcountry {
    width: 22px;
    height: 22px;
    margin: 10px 7px;
}
#report_container .reportImg{
	text-align:center;
}
#report_container .reportImg p{
	text-align:left;
}
#report_container .reportImg p.hightlight{
	color:#2095f2;
	font-size:15px;
}
#report_container {
	min-width: 1036px;
	margin-left: 220px;
	border-left: 1px solid #ced7db;
}

#report_container img {
	max-width: 96%;
	max-height:96%;
}

.report_top {
	height: 42px;
	margin: 0 0;
	background: #dfe7ea;
}

.floor-item {
	font-size: 16px;
}

.floor-item a {
	color: #333;
	font-weight:bold;
}

.floor-item i {
	color: #778f9b;
	margin-right: 8px;
	margin-left: 16px;
}

.floor-item ul {
	margin-left: 36px;
	margin-top:8px;
	font-size:14px;
}

.floor-item ul>li {
	border-left: 1px solid #aaa;
	padding-left:8px;
	height: 32px;
	padding-left: 8px;
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

.floor-item ul>li.active {
	color: #2196f3;
}

.report_top .top-title {
	color: #333;
	font-size: 16px;
	clear: both;
	margin-left: 20px;
	float: left;
	line-height: 40px;
}



.report_content {
	margin: 0;
	padding: 16px 20px;
	overflow-y:auto;
	position: fixed;
	top:92px;
    left: 220px;
    right: 0;
    bottom: 40px;
}

.report_content p {
	font-size: 15px;
	color: #333;
	margin: 0;
}
.report_bottom{
	position: fixed;
	bottom: 0;
	height: 40px;
	left:220px;
	right:0;
	margin-bottom: 0;
	background:#dfe7ea;
}
.report_bottom a {
	float: right;
	color: #5b686d;
	opacity:0.5;
	font-size: 15px;
	font-weight: bold;
	margin-right: 20px;
	line-height: 40px;
	cursor: pointer;
}

.report_bottom a i {
	margin-right: 8px;
}

.report_bottom a:hover {
	opacity:1;
}
.report_bottom a:active{
	opacity:1;
}
#apTable thead tr {
	border-top: none;
}

#apTable tr {
	border-top: 1px solid #bbb;
}

#apTable thead>tr>th:first-child {
	padding-left: 20px;
	padding-right: 10px;
}

#apTable thead tr th {
	height: 34px;
	font-size: 14px;
	color: #778f9b;
	padding: 15px 0;
	font-weight:normal;
}

#apTable .form-control {
	padding: 0px 4px;
	font-size: 14px;
}

#apBody tr {
	height: 60px;
}

#apBody tr>td {
	padding: 0;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	white-space: nowrap;
	color: #444;
}

.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	border-radius: 4px;
}
#exportPDFModal{
	margin-top:0;
	margin-bottom:0;
}

#floorchecklist p{
	margin:0;
}
#dropdown_report_type{
	position: absolute;
	display:none;
	top:-80px; 
	width:126px;
	border: 1px solid #ced7db;
    background: #fff;
    margin-left:26px;
}
#dropdown_report_type ul{
	margin:6px 0;
}
#dropdown_report_type ul li{
	height:32px;
	line-height:32px;
}
#dropdown_report_type li:hover{
	cursor:pointer;
	background: #ced7db;
	opacity: 0.5;
}
#dropdown_report_type a{
	color:#5b686d;
}
#btnDownloadMenu{
	color:#778f9b !important;}

#btnDownloadMenu.disabled{
	    opacity: 0.5;
	color: #778f9b !important;
}
#exportPDFModal label{
	font-size: 16px;
    margin-top: 8px;
    color: #333;
}
#exportPDFModal input{
	font-size: 16px;
    margin-bottom: 0px;
    border: 1px solid #ced7db;
    border-radius: 2px;
    color: #333;
    height:40px;
    padding-left:8px;
}
#floorchecklist{
	width:380px;
	
    padding:8px 30px;
 
}

